body {
    margin: 0;
    padding: 0;
    color: #fff;
}

canvas {
    margin: auto;
}

#sketchPanel {
    background: #fff;
}

#controlPanel {
    background: #008585;
}

#textPanel,
body {
    background: #B6A9C2;
}

.btn-outline-light:hover,
.darkText {
    color: #007273;
}

#title {
    font-family: Baskerville, 'Times New Roman', Times, serif;
    line-height: 40px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 4px;
    border: none;
    background: #007273;
    outline: none;
    margin-top: 1px;
}

.slider::thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #4fa7a8;
    cursor: pointer;
}

.slider::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #4fa7a8;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #4fa7a8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #4fa7a8;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
